In [ ]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22


five = float(five)
zero = float(zero)
neg_8 = float(neg_8)
neg_22 = float(neg_22)

print(five, type(five)) # 5.0 <class 'float'>
print(zero, type(zero)) # 0.0 <class 'float'>
print(neg_8, type(neg_8)) # -8.0 <class 'float'>
print(neg_22, type(neg_22)) # -22.0 <class 'float'>


five = int(five)
zero = int(zero)
neg_8 = int(neg_8)
neg_22 = int(neg_22)

print(five, type(five)) # 5.0 <class 'int'>
print(zero, type(zero)) # 0.0 <class 'int'>
print(neg_8, type(neg_8)) # -8.0 <class 'int'>
print(neg_22, type(neg_22)) # -22.0 <class 'int'>