<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Homework: Plotting With Pandas

_Authors: Kevin Coyle (L.A.)_

---

Welcome!

#### Pandas: Plotting Practice Problems

In this homework, you're going to write code for a few problems. 

You'll practice the following programming concepts we've covered in class:
* Plotting with Pandas.
* Determining best plot given a data set.

#### #1. Import Pandas, `Matplotlib.pyplot`, and NumPy. Don't forget the line that makes `matplotlib` render in a Jupyter Notebook!

In [13]:
import pandas as pd
import numpy as np
%matplotlib inline

#### #2. Read in the NBA players `csv` into a variable called `nba_df`.

This is a data set of NBA players from 2015. The filename is `NBA_players_2015.csv`.

In [14]:
nba_df = pd.read_csv("./NBA_players_2015.csv")

#### #3. Look at the first five rows of the data set.

In [15]:
nba_df.head()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,2015,Quincy Acy,F,24,NYK,52,21,19.2,2.2,4.6,...,15.1,14.7,0.6,0.5,1.0,0.050,-2.6,-0.7,-3.4,-0.3
1,2015,Jordan Adams,G,20,MEM,18,0,7.3,1.0,2.1,...,15.9,17.7,0.0,0.2,0.2,0.076,-2.3,1.8,-0.5,0.0
2,2015,Steven Adams,C,21,OKC,51,50,24.2,3.0,5.5,...,19.2,14.8,1.0,1.8,2.8,0.109,-2.0,2.0,-0.1,0.6
3,2015,Jeff Adrien,F,28,MIN,17,0,12.6,1.1,2.6,...,12.9,14.1,0.2,0.2,0.4,0.093,-2.6,0.8,-1.8,0.0
4,2015,Arron Afflalo,G,29,TOT,60,54,32.5,5.0,11.8,...,10.9,19.6,1.4,0.7,2.1,0.051,-0.2,-1.4,-1.6,0.2

#### #4. Create a histogram of the `age` column.

#### #5. Create a histogram of the `age` column, but change the number of bins to `20`.

#### #6. Discuss the difference in the two plots and the implications.

While skewed, the plot with fewer bins leads one to believe that the bin to the right of the highest-numbered age bin is the second largest. The second-largest bin occurs right after 22 and before 25.

#### #7. Rename the `position` column `'pos'` with the following `C:5`, `G:1`, and `F:3`. Then create a scatter matrix plot with the `'pos'`, `'pts'`, `'age'`, and `'fg'` columns.

#### #8. Plot the number of guards, centers, and forwards in this data set.

The end!

#### Great job!