<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Homework: Intro to Pandas

_Author: Kevin Coyle (L.A.)_

---

Welcome!

#### Pandas: Intro Practice Problems

In this homework, you're going to write code for a few problems. 

You'll be practicing these programming concepts we've covered in class:
* Reading data sets into Pandas.
* Filtering, manipulating, and sorting data sets.
* Basic exploratory data analysis with Pandas.

#### #1. Import Pandas with an alias of `pd`.

In [1]:
import pandas as pd

#### #2. Read in the NBA players `csv` into a variable called `nba_df`.

This is a data set of NBA players from 2015. The filename is `NBA_players_2015.csv`.

In [3]:
nba_df = pd.read_csv("NBA_players_2015.csv")

     season_end                 player pos  age bref_team_id   g  gs    mp  \
0          2015             Quincy Acy   F   24          NYK  52  21  19.2
1          2015           Jordan Adams   G   20          MEM  18   0   7.3
2          2015           Steven Adams   C   21          OKC  51  50  24.2
3          2015            Jeff Adrien   F   28          MIN  17   0  12.6
4          2015          Arron Afflalo   G   29          TOT  60  54  32.5
5          2015          Alexis Ajinca   C   26          NOP  51   6  14.0
6          2015         Furkan Aldemir   F   23          PHI  25   1  10.7
7          2015           Cole Aldrich   C   26          NYK  45  12  15.9
8          2015      LaMarcus Aldridge   F   29          POR  54  54  36.2
9          2015            Lavoy Allen   F   25          IND  47   0  19.6
10         2015             Tony Allen   G   33          MEM  54  36  25.6
11         2015        Al-Farouq Aminu   F   24          DAL  60   3  17.0
12         2015         Louis Amundson   F   32          TOT  34  20  16.8
13         2015         Chris Andersen   C   36          MIA  46  18  19.5
14         2015          Alan Anderson   G   32          BRK  62  19  23.8
15         2015          Kyle Anderson   F   21          SAS  27   8  12.6
16         2015          Ryan Anderson   F   26          NOP  52   5  28.6
17         2015  Giannis Antetokounmpo   G   20          MIL  63  53  30.4
18         2015        Carmelo Anthony   F   30          NYK  40  40  35.7
19         2015           Joel Anthony   C   32          DET  32   0   5.8
20         2015             Pero Antic   F   32          ATL  47   2  16.0
21         2015           Trevor Ariza   F   29          HOU  63  63  35.6
22         2015         Darrell Arthur   F   26          DEN  53   3  17.2
23         2015              Omer Asik   C   28          NOP  61  61  26.1
24         2015          D.J. Augustin   G   27          TOT  63  14  24.3
25         2015             Jeff Ayres   F   27          SAS  37   0   7.6
26         2015           Luke Babbitt   F   25          NOP  54  19  13.8
27         2015       Cameron Bairstow   F   24          CHI  14   1   4.1
28         2015        Leandro Barbosa   G   32          GSW  49   1  13.4
29         2015             Jose Barea   G   30          DAL  65  10  17.6
..          ...                    ...  ..  ...          ...  ..  ..   ...
448        2015              John Wall   G   24          WAS  64  64  35.6
449        2015         Gerald Wallace   F   32          BOS  27   0   8.2
450        2015            T.J. Warren   F   21          PHO  24   0  11.0
451        2015            C.J. Watson   G   30          IND  44  21  25.8
452        2015            Travis Wear   F   24          NYK  45   1  12.4
453        2015        Martell Webster   F   28          WAS  21   0  10.1
454        2015             David West   F   34          IND  48  48  29.2
455        2015      Russell Westbrook   G   26          OKC  48  48  33.4
456        2015       Hassan Whiteside   C   25          MIA  35  20  22.0
457        2015     Shayne Whittington   F   23          IND  20   0   5.4
458        2015         Andrew Wiggins   G   19          MIN  62  62  35.0
459        2015            C.J. Wilcox   G   24          LAC  16   0   5.0
460        2015         Deron Williams   G   30          BRK  48  35  31.4
461        2015       Derrick Williams   F   23          SAC  54   5  17.7
462        2015        Elliot Williams   G   25          TOT   8   0   9.4
463        2015         Louis Williams   G   28          TOR  63   0  24.7
464        2015        Marvin Williams   F   28          CHO  58  18  24.5
465        2015            Mo Williams   G   32          TOT  51  29  29.4
466        2015        Reggie Williams   F   28          SAS   7   0   4.9
467        2015        Shawne Williams   F   28          TOT  50  22  19.5
468        2015            Jeff Withey   C   24          NOP  31   0   6.3
469        2015           Nate Wolters   G   23          TOT  21   0  11.8
470        2015         Brandan Wright   F   27          TOT  60   0  17.2
471        2015          Dorell Wright   F   29          POR  35   1  10.9
472        2015            Tony Wroten   G   21          PHI  30  15  29.8
473        2015            James Young   G   19          BOS  27   0  10.9
474        2015             Nick Young   G   29          LAL  42   0  23.8
475        2015         Thaddeus Young   F   26          TOT  58  50  31.8
476        2015            Cody Zeller   C   22          CHO  61  44  24.1
477        2015           Tyler Zeller   C   25          BOS  62  39  20.8

      fg   fga  ...  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM   BPM  VORP
0    2.2   4.6  ...  15.1  14.7  0.6  0.5  1.0  0.050  -2.6  -0.7  -3.4  -0.3
1    1.0   2.1  ...  15.9  17.7  0.0  0.2  0.2  0.076  -2.3   1.8  -0.5   0.0
2    3.0   5.5  ...  19.2  14.8  1.0  1.8  2.8  0.109  -2.0   2.0  -0.1   0.6
3    1.1   2.6  ...  12.9  14.1  0.2  0.2  0.4  0.093  -2.6   0.8  -1.8   0.0
4    5.0  11.8  ...  10.9  19.6  1.4  0.7  2.1  0.051  -0.2  -1.4  -1.6   0.2
5    2.8   4.8  ...  15.3  20.8  1.8  0.9  2.7  0.181   0.4   0.2   0.7   0.5
6    0.6   1.3  ...  21.1   7.8  0.3  0.4  0.7  0.127  -2.9   3.1   0.2   0.2
7    2.3   4.8  ...  15.5  17.9  0.4  0.9  1.3  0.089  -2.6   2.3  -0.3   0.3
8    9.1  20.2  ...   7.3  29.9  3.3  3.2  6.5  0.161  -0.4   0.3  -0.1   0.9
9    2.7   5.5  ...  10.0  15.2  1.5  1.4  2.9  0.152  -0.5   2.4   1.9   0.9
10   3.5   7.0  ...  14.1  16.4  0.8  2.6  3.4  0.118  -0.3   3.6   3.2   1.8
11   2.0   4.7  ...  11.8  15.7  0.9  1.7  2.6  0.124  -0.6   3.0   2.3   1.1
12   2.1   4.4  ...  14.4  15.7  0.3  0.4  0.8  0.066  -2.1   1.6  -0.5   0.2
13   1.9   3.3  ...  11.3  11.7  1.8  1.1  3.0  0.159  -1.0   2.2   1.3   0.7
14   2.5   5.7  ...  11.8  13.7  1.3  0.9  2.1  0.070  -0.2  -0.3  -0.5   0.6
15   1.1   3.0  ...  10.3  13.0 -0.2  0.6  0.3  0.048  -4.9   2.4  -2.5   0.0
16   5.1  12.5  ...   7.3  23.5  2.9  0.7  3.5  0.114   2.8  -3.2  -0.4   0.6
17   4.6   9.3  ...  16.4  19.7  1.6  3.2  4.8  0.121  -1.6   2.6   1.0   1.5
18   9.0  20.2  ...   8.9  32.3  2.5  0.6  3.0  0.101   3.7  -2.2   1.5   1.3
19   0.5   0.8  ...  15.9   8.9  0.2  0.3  0.5  0.123  -4.5   3.9  -0.6   0.1
20   1.7   4.7  ...  13.4  18.2  0.1  0.7  0.8  0.050  -1.8  -1.4  -3.1  -0.2
21   4.4  11.3  ...  12.0  16.7  1.6  3.1  4.7  0.100   0.2   1.3   1.5   2.0
22   2.8   6.8  ...  10.5  20.4  0.1  0.9  1.0  0.053  -1.5   0.8  -0.6   0.3
23   2.7   5.3  ...  16.2  13.7  2.2  1.7  3.9  0.118  -1.3   0.5  -0.9   0.5
24   3.5   8.5  ...  16.2  21.2  2.4  0.8  3.3  0.103   0.9  -2.7  -1.8   0.1
25   1.0   1.7  ...  16.7  14.4  0.5  0.4  0.9  0.152  -2.1   0.9  -1.2   0.1
26   1.5   3.0  ...  10.9  11.7  1.2  0.4  1.6  0.103   0.6  -1.5  -0.8   0.2
27   0.2   1.0  ...  15.6  14.8 -0.1  0.0 -0.1 -0.056  -6.7  -1.1  -7.8  -0.1
28   2.6   5.6  ...   9.8  21.8  0.9  0.8  1.7  0.124  -0.2  -1.6  -1.7   0.0
29   2.9   6.9  ...  11.1  21.3  1.8  0.6  2.4  0.101   1.1  -2.3  -1.2   0.2
..   ...   ...  ...   ...   ...  ...  ...  ...    ...   ...   ...   ...   ...
448  6.4  14.2  ...  18.7  25.4  3.1  3.3  6.4  0.136   2.4   1.0   3.4   3.1
449  0.3   0.9  ...  32.2   8.0 -0.3  0.3  0.0  0.005  -6.1   2.6  -3.5  -0.1
450  2.1   4.2  ...  10.3  19.2  0.3  0.1  0.4  0.072  -1.3  -2.7  -4.0  -0.1
451  3.1   7.3  ...  18.1  18.2  1.4  1.4  2.8  0.120   0.7   0.1   0.8   0.8
452  1.6   4.0  ...  14.6  18.2 -0.4  0.1 -0.3 -0.026  -4.5  -1.9  -6.4  -0.6
453  0.7   2.6  ...  17.1  17.5 -0.3  0.2 -0.1 -0.026  -5.3  -1.3  -6.5  -0.2
454  5.4  11.1  ...  14.1  21.7  1.1  2.3  3.3  0.114  -0.4   2.6   2.2   1.5
455  9.3  21.4  ...  13.6  38.5  5.5  2.5  8.0  0.240   9.4   2.6  12.0   5.6
456  4.7   7.5  ...  11.6  21.3  2.1  1.6  3.7  0.231  -1.5   0.3  -1.2   0.1
457  1.0   2.1  ...   8.8  23.9  0.3  0.2  0.5  0.205   0.5   0.1   0.6   0.1
458  5.9  13.6  ...  11.1  21.9  1.1  0.4  1.5  0.032  -0.7  -1.4  -2.1  -0.1
459  0.9   1.9  ...  13.9  20.3  0.1  0.0  0.1  0.057  -0.5  -3.6  -4.1   0.0
460  4.3  11.4  ...  14.8  22.4  1.3  0.9  2.2  0.071   0.8  -1.2  -0.4   0.6
461  2.5   5.6  ...   9.2  18.1  1.1  0.3  1.4  0.068  -1.0  -2.6  -3.6  -0.4
462  1.4   3.3  ...  13.0  18.8  0.1  0.0  0.1  0.070  -0.3  -3.6  -3.9   0.0
463  4.5  11.2  ...   8.3  26.7  4.3  0.9  5.2  0.161   4.1  -2.9   1.2   1.3
464  2.5   5.8  ...  11.8  13.1  1.0  2.1  3.0  0.103  -0.7   1.9   1.1   1.1
465  4.9  12.0  ...  16.2  23.6  2.0  0.3  2.4  0.075   2.7  -3.8  -1.2   0.3
466  0.6   2.1  ...   5.9  22.6 -0.1  0.0  0.0 -0.062  -4.7  -3.5  -8.2  -0.1
467  2.2   5.2  ...   8.0  14.6  1.3  0.7  1.9  0.096   0.5  -0.9  -0.4   0.4
468  0.8   1.7  ...   9.0  18.2  0.4  0.2  0.6  0.140  -2.1  -0.9  -3.0   0.0
469  1.0   2.7  ...  17.9  13.3 -0.4  0.2 -0.2 -0.037  -5.9   0.1  -5.8  -0.2
470  2.9   4.4  ...   6.5  13.8  3.6  1.3  4.9  0.226   2.1   2.2   4.2   1.6
471  1.3   3.4  ...  10.3  17.2  0.5  0.6  1.1  0.139   0.1   1.0   1.1   0.3
472  5.8  14.5  ...  18.0  30.7 -0.6  0.8  0.2  0.012   0.4  -1.8  -1.4   0.1
473  1.1   3.3  ...   3.9  15.3  0.1  0.2  0.2  0.040  -1.9  -2.2  -4.1  -0.2
474  4.1  11.3  ...   7.5  26.0  1.1  0.1  1.2  0.059   1.0  -4.2  -3.2  -0.3
475  5.9  12.8  ...   9.7  21.3  1.4  1.1  2.4  0.064   0.4  -0.1   0.3   1.1
476  2.8   6.1  ...  12.3  15.6  1.7  2.2  3.9  0.129  -1.9   2.5   0.7   1.0
477  3.9   7.1  ...  10.5  19.1  3.2  1.3  4.5  0.167   0.2   0.4   0.7   0.9

[478 rows x 49 columns]

#### #3. Look at the first five rows of the data set.

In [4]:
nba_df.head()

,season_end,player,pos,age,bref_team_id,g,gs,mp,fg,fga,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,2015,Quincy Acy,F,24,NYK,52,21,19.2,2.2,4.6,...,15.1,14.7,0.6,0.5,1.0,0.050,-2.6,-0.7,-3.4,-0.3
1,2015,Jordan Adams,G,20,MEM,18,0,7.3,1.0,2.1,...,15.9,17.7,0.0,0.2,0.2,0.076,-2.3,1.8,-0.5,0.0
2,2015,Steven Adams,C,21,OKC,51,50,24.2,3.0,5.5,...,19.2,14.8,1.0,1.8,2.8,0.109,-2.0,2.0,-0.1,0.6
3,2015,Jeff Adrien,F,28,MIN,17,0,12.6,1.1,2.6,...,12.9,14.1,0.2,0.2,0.4,0.093,-2.6,0.8,-1.8,0.0
4,2015,Arron Afflalo,G,29,TOT,60,54,32.5,5.0,11.8,...,10.9,19.6,1.4,0.7,2.1,0.051,-0.2,-1.4,-1.6,0.2

#### #4. Check out the shape of the data set.

In [5]:
nba_df.shape

(478, 49)

#### #5. Run some summary stats on the data set with the `describe()` function.

In [6]:
nba_df.describe()

,season_end,age,g,gs,mp,fg,fga,fg_,x3p,x3pa,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
count,478.0,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,...,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000,478.000000
mean,2015.0,26.573222,42.104603,19.874477,20.045607,3.018201,6.847699,0.429230,0.630544,1.855649,...,13.424268,18.915272,1.055858,0.971339,2.027197,0.073575,-1.396862,-0.495816,-1.892678,0.485983
std,0.0,4.219585,18.950602,22.170034,9.313441,2.052790,4.386828,0.111007,0.665808,1.790564,...,6.559989,5.493491,1.589667,0.876932,2.243138,0.133530,4.251216,2.299572,5.116001,1.013097
min,2015.0,19.000000,1.000000,0.000000,0.700000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-2.100000,-0.100000,-0.800000,-1.059000,-36.800000,-13.500000,-50.300000,-1.000000
25%,2015.0,23.000000,27.000000,0.000000,12.600000,1.425000,3.400000,0.391000,0.000000,0.100000,...,10.000000,14.800000,0.000000,0.200000,0.300000,0.040250,-2.800000,-1.600000,-3.300000,-0.100000
50%,2015.0,26.000000,47.000000,10.500000,19.850000,2.700000,5.900000,0.432000,0.450000,1.400000,...,12.900000,18.400000,0.600000,0.800000,1.400000,0.082500,-1.000000,-0.500000,-1.300000,0.100000
75%,2015.0,29.000000,59.000000,39.000000,28.175000,4.275000,9.600000,0.481750,1.000000,3.075000,...,15.900000,21.900000,1.600000,1.500000,3.000000,0.123000,0.500000,0.875000,0.500000,0.700000
max,2015.0,38.000000,66.000000,66.000000,38.900000,9.500000,21.400000,1.000000,3.400000,8.000000,...,100.000000,45.900000,9.500000,4.300000,13.000000,1.489000,28.300000,6.500000,15.100000,6.200000

#### #6. Sort the data set in on the `players` column in alphabetical order.

In [40]:
nba_df = nba_df.sort_values(by="player")

#### #7. Filter the data set. Create three sub DataFrames from the `position` column for `G`, `F`, and `C`.

In [50]:
pos_G = nba_df[nba_df["pos"] == "G"]
pos_F = nba_df[nba_df["pos"] == "F"]
pos_C = nba_df[nba_df["pos"] == "C"]

#### #8.  Run `describe()` on these new DataFrames. Compare the mean field goals (the `fg` column) between positions.

In [57]:
pos_G.describe()
pos_F.describe()
pos_C.describe()

,season_end,age,g,gs,mp,fg,fga,fg_,x3p,x3pa,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
count,79.0,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,...,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000,79.000000
mean,2015.0,26.759494,42.012658,23.620253,19.126582,2.989873,5.922785,0.495608,0.058228,0.186076,...,15.159494,17.755696,1.217722,1.239241,2.460759,0.097392,-2.418987,0.950633,-1.470886,0.513924
std,0.0,3.810294,19.005056,22.214747,8.937629,2.060595,4.075409,0.120526,0.211592,0.571264,...,5.933035,5.592709,1.431402,0.986371,2.240674,0.114917,3.832823,2.003578,4.727881,0.926495
min,2015.0,20.000000,2.000000,0.000000,2.800000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-1.000000,0.000000,-0.300000,-0.738000,-28.000000,-5.700000,-28.800000,-0.600000
25%,2015.0,24.000000,29.500000,2.500000,12.700000,1.500000,2.850000,0.460500,0.000000,0.000000,...,12.150000,13.650000,0.200000,0.300000,0.600000,0.076000,-3.250000,-0.300000,-2.700000,-0.100000
50%,2015.0,26.000000,46.000000,18.000000,19.200000,2.800000,5.300000,0.505000,0.000000,0.000000,...,15.300000,17.900000,0.800000,1.200000,2.100000,0.115000,-1.900000,1.100000,-0.900000,0.200000
75%,2015.0,29.500000,58.500000,43.500000,25.900000,4.100000,7.600000,0.551000,0.000000,0.100000,...,17.550000,21.150000,1.850000,1.800000,3.650000,0.146000,-0.200000,2.300000,0.750000,0.700000
max,2015.0,37.000000,65.000000,64.000000,35.400000,8.600000,17.400000,0.857000,1.400000,3.800000,...,43.200000,35.700000,6.100000,4.100000,9.900000,0.231000,2.100000,5.500000,5.800000,3.600000

In [62]:
pos_G_mean_fg = pos_G.mean()[5]
pos_F_mean_fg = pos_F.mean()[5]
pos_C_mean_fg = pos_C.mean()[5]
mean_fg = [pos_G_mean_fg, pos_F_mean_fg, pos_C_mean_fg]

[3.2000000000000006, 2.8467336683417086, 2.989873417721519]

In [78]:
max = mean_fg[0]

for val in mean_fg:
    if val > max:
        val = max

print(max)

3.2000000000000006

The end!

#### Great job!